<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.study_system.dao.JQuestionOptionMapper">
  <resultMap id="BaseResultMap" type="com.example.study_system.model.JQuestionOption">
    <id column="ref" jdbcType="BIGINT" property="ref" />
    <result column="question_id" jdbcType="BIGINT" property="questionId" />
    <result column="is_right" jdbcType="INTEGER" property="isRight" />
    <result column="option_type" jdbcType="VARCHAR" property="optionType" />
    <result column="c_time" jdbcType="TIMESTAMP" property="cTime" />
    <result column="m_time" jdbcType="TIMESTAMP" property="mTime" />
    <result column="c_user" jdbcType="VARCHAR" property="cUser" />
    <result column="m_user" jdbcType="VARCHAR" property="mUser" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.example.study_system.model.JQuestionOption">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    ref, question_id, is_right, option_type, c_time, m_time, c_user, m_user
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from j_question_option
    where ref = #{ref,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from j_question_option
    where ref = #{ref,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.study_system.model.JQuestionOption">
    insert into j_question_option (ref, question_id, is_right, 
      option_type, c_time, m_time, 
      c_user, m_user, content
      )
    values (#{ref,jdbcType=BIGINT}, #{questionId,jdbcType=BIGINT}, #{isRight,jdbcType=INTEGER}, 
      #{optionType,jdbcType=VARCHAR}, #{cTime,jdbcType=TIMESTAMP}, #{mTime,jdbcType=TIMESTAMP}, 
      #{cUser,jdbcType=VARCHAR}, #{mUser,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.study_system.model.JQuestionOption">
    insert into j_question_option
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ref != null">
        ref,
      </if>
      <if test="questionId != null">
        question_id,
      </if>
      <if test="isRight != null">
        is_right,
      </if>
      <if test="optionType != null">
        option_type,
      </if>
      <if test="cTime != null">
        c_time,
      </if>
      <if test="mTime != null">
        m_time,
      </if>
      <if test="cUser != null">
        c_user,
      </if>
      <if test="mUser != null">
        m_user,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ref != null">
        #{ref,jdbcType=BIGINT},
      </if>
      <if test="questionId != null">
        #{questionId,jdbcType=BIGINT},
      </if>
      <if test="isRight != null">
        #{isRight,jdbcType=INTEGER},
      </if>
      <if test="optionType != null">
        #{optionType,jdbcType=VARCHAR},
      </if>
      <if test="cTime != null">
        #{cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mTime != null">
        #{mTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cUser != null">
        #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="mUser != null">
        #{mUser,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.study_system.model.JQuestionOption">
    update j_question_option
    <set>
      <if test="questionId != null">
        question_id = #{questionId,jdbcType=BIGINT},
      </if>
      <if test="isRight != null">
        is_right = #{isRight,jdbcType=INTEGER},
      </if>
      <if test="optionType != null">
        option_type = #{optionType,jdbcType=VARCHAR},
      </if>
      <if test="cTime != null">
        c_time = #{cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mTime != null">
        m_time = #{mTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cUser != null">
        c_user = #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="mUser != null">
        m_user = #{mUser,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ref = #{ref,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.example.study_system.model.JQuestionOption">
    update j_question_option
    set question_id = #{questionId,jdbcType=BIGINT},
      is_right = #{isRight,jdbcType=INTEGER},
      option_type = #{optionType,jdbcType=VARCHAR},
      c_time = #{cTime,jdbcType=TIMESTAMP},
      m_time = #{mTime,jdbcType=TIMESTAMP},
      c_user = #{cUser,jdbcType=VARCHAR},
      m_user = #{mUser,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where ref = #{ref,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.study_system.model.JQuestionOption">
    update j_question_option
    set question_id = #{questionId,jdbcType=BIGINT},
      is_right = #{isRight,jdbcType=INTEGER},
      option_type = #{optionType,jdbcType=VARCHAR},
      c_time = #{cTime,jdbcType=TIMESTAMP},
      m_time = #{mTime,jdbcType=TIMESTAMP},
      c_user = #{cUser,jdbcType=VARCHAR},
      m_user = #{mUser,jdbcType=VARCHAR}
    where ref = #{ref,jdbcType=BIGINT}
  </update>


</mapper>